* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
}

div {
  background-color: blue;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

  width: 240px;
  height: 320px;

  float: left;
  border-radius: 20px;
}

img {
  width: 240px;
  height: 320px;
  border-radius: 20px;
}
