* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.header {
  margin-bottom: 20px;

  background-color: #30bcdf;
  padding-top: 65px;
  padding-bottom: 65px;

  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.container {
  margin-bottom: 20px;

}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.content {
  margin-left: 260px;
  margin-right: 260px;
  /* width: 840px; */
  background-color: #e4e5b5;
  padding-top: 211px;
  padding-bottom: 211px;

  color: #545441;
  font-size: 52px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

}
.left-column {
  float: left;

  width: 240px;

  background-color: #30df93;
  padding-top: 125px;
  padding-bottom: 125px;

  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.right-column {
float: right;

  width: 240px;

  background-color: #30df93;
  padding-top: 125px;
  padding-bottom: 125px;

  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.footer {
  background-color: #828889;
  padding-top: 85px;
  padding-bottom: 78px;

  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
